@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
.dark-gray {
  color: #5C5C5C; }

.light-gray {
  color: #F8F9FA; }

.almost-white {
  color: #FCFDFD; }

.blue {
  color: #2473A6; }

a {
  color: #5C5C5C;
  cursor: pointer;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, a {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-bold {
  font-weight: 700; }

.space-20 {
  letter-spacing: 2.0px; }

.space-15 {
  letter-spacing: 1.5px; }

.space-10 {
  letter-spacing: 1.0px; }

.space-05 {
  letter-spacing: 0.5px; }

.text-center {
  text-align: center; }

.hidden {
  transition: 2s;
  opacity: 0; }
  .hidden.reveal {
    opacity: 1; }

.hide-hover-btn {
  transition: 2s;
  opacity: 0;
  pointer-events: none; }
  .hide-hover-btn.show-hover-btn {
    opacity: 1;
    pointer-events: all; }

.not-found-template {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .not-found-template .container {
    color: #2473A6; }
    .not-found-template .container h1 {
      font-size: 160px; }
    .not-found-template .container a {
      text-decoration: none; }
    .not-found-template .container .message {
      margin-top: -14px; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #5C5C5C;
  margin: 0px;
  background-color: #FCFDFD;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

.contact-template {
  height: 400px;
  position: relative; }
  .contact-template .text-content {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0; }
    .contact-template .text-content a {
      letter-spacing: 1.2px;
      color: #2473A6;
      margin-left: 10px; }
    .contact-template .text-content img {
      position: relative;
      left: -8px;
      top: 6px;
      height: 24px; }

.footer-template {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F9FA; }
  .footer-template .copyright {
    margin: 16px 40px;
    letter-spacing: 0.5px; }

.header-template {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px; }
  .header-template .navigation h2 {
    display: inline-block;
    font-size: 18px;
    padding-left: 48px;
    letter-spacing: 2px; }
  .header-template .navigation * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease; }
  .header-template .navigation a {
    position: relative;
    padding-bottom: 6px; }
  .header-template .navigation a:before {
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    left: 15%;
    right: 15%;
    top: 0;
    bottom: 0;
    border-bottom: 1px solid #5C5C5C; }
  .header-template .navigation a:hover:before {
    opacity: 1;
    left: 0;
    right: 0; }
  .header-template .desktop-header {
    display: contents; }
    @media (max-width: 768px) {
      .header-template .desktop-header {
        display: none; } }
  .header-template .mobile-menu {
    display: none; }
    @media (max-width: 768px) {
      .header-template .mobile-menu {
        display: block; } }
  .header-template .hover-btn-container {
    visibility: visible;
    position: fixed;
    z-index: 1000;
    bottom: 50px;
    right: 50px; }
    @media (max-width: 768px) {
      .header-template .hover-btn-container {
        display: none; } }
  .header-template .hover-btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 8px 20px -2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.6s; }
    .header-template .hover-btn:hover {
      transform: scale(1.1); }
    .header-template .hover-btn.scroll-top-btn {
      margin-bottom: 12px;
      background: #2473A6;
      background-image: url("../assets/icons/arrow-up.svg");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
      background-size: 18px; }
    .header-template .hover-btn.contact-btn {
      background: #5C5C5C;
      background-image: url("../assets/icons/mail.svg");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 11px;
      background-size: 24px; }
      .header-template .hover-btn.contact-btn a {
        display: block;
        height: 100%; }
  .header-template .menu, .header-template .menu-bg, .header-template .menu-burger {
    z-index: 100;
    position: fixed;
    width: 46px;
    height: 46px;
    font-size: 26px;
    text-align: center;
    border-radius: 100%;
    right: 25px;
    top: 19px; }
    .header-template .menu.fs, .header-template .fs.menu-bg, .header-template .fs.menu-burger {
      top: 28px; }
  .header-template .menu-bg {
    background: #5C5C5C;
    pointer-events: none;
    transition: 0.3s;
    right: 48px;
    top: 49px;
    transform: translate3d(50%, -50%, 0);
    transform-origin: center center;
    box-shadow: 0px 8px 20px -2px rgba(0, 0, 0, 0.25); }
    .header-template .menu-bg.fs {
      transform: t ranslate3d(50%, -50%, 0);
      width: 1000vw;
      height: 1000vw; }
  .header-template .menu-burger {
    color: #FCFDFD;
    padding-top: 11px;
    -webkit-user-select: none;
    cursor: pointer;
    transition: 0.4s;
    transform-origin: center; }
    .header-template .menu-burger.fs {
      transform: rotate(-180deg) translateY(10px); }
  .header-template .menu-items {
    z-index: 100;
    position: fixed;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 10px;
    color: #FCFDFD;
    text-align: center;
    opacity: 0;
    transition: 0.4s;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    pointer-events: none; }
    .header-template .menu-items div {
      transition: 1s;
      opacity: 0;
      margin-top: 0px; }
    .header-template .menu-items.fs {
      pointer-events: auto;
      opacity: 1; }
      .header-template .menu-items.fs div {
        opacity: 1;
        margin-top: 60px; }
    .header-template .menu-items h2 {
      margin: 0; }
    .header-template .menu-items a {
      font-size: 24px;
      letter-spacing: 6px;
      color: #FCFDFD;
      display: block; }

.landing-template {
  height: 100vh;
  background-color: #F8F9FA;
  display: flex;
  align-items: center;
  justify-content: center; }
  .landing-template .landing-text {
    letter-spacing: 2px;
    font-size: 28px;
    line-height: 50px;
    padding-bottom: 36px;
    width: 770px; }
    @media (max-width: 1024px) {
      .landing-template .landing-text {
        width: 80vw; } }
  .landing-template .navigation {
    position: absolute;
    bottom: 32px;
    cursor: pointer; }
    .landing-template .navigation img {
      height: 12px; }
  .landing-template .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2.5s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-10px); }
  60% {
    transform: translateY(-6px); } }

.photos-template {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 5px; }
  .photos-template .filter-row {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    margin: 20px 0; }
    @media (max-width: 890px) {
      .photos-template .filter-row #things-filter {
        padding-right: 40px; } }
    @media (max-width: 1024px) {
      .photos-template .filter-row {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        margin: 0px 20px;
        padding: 16px 20px; }
        .photos-template .filter-row h2 {
          margin: 0; } }
    .photos-template .filter-row h2 {
      display: inline-flex;
      font-size: 18px;
      letter-spacing: 2px;
      margin: 20px;
      cursor: pointer; }
    .photos-template .filter-row * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease; }
    .photos-template .filter-row .filter {
      position: relative;
      padding-bottom: 6px; }
    .photos-template .filter-row .filter:before {
      position: absolute;
      content: '';
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
      opacity: 0;
      left: 15%;
      right: 15%;
      top: 0;
      bottom: 0;
      border-bottom: 1px solid #2473A6; }
    .photos-template .filter-row .filter:hover:before, .photos-template .filter-row .active-filter:before {
      opacity: 1;
      left: 0;
      right: 0; }
  .photos-template .photos-container {
    margin-bottom: 20px; }
    .photos-template .photos-container .photo {
      padding: 10px; }
      .photos-template .photos-container .photo.ng-leave {
        -webkit-transition: 0.3s linear all;
        -moz-transition: 0.3s linear all;
        -ms-transition: 0.3s linear all;
        -o-transition: 0.3s linear all;
        transition: 0.3s linear all;
        -ms-opacity: 1;
        opacity: 1; }
      .photos-template .photos-container .photo.ng-leave.ng-leave-active {
        -ms-opacity: 0;
        opacity: 0; }
    .photos-template .photos-container .image-container {
      height: 460px; }
      @media (max-width: 1024px) {
        .photos-template .photos-container .image-container {
          height: 340px; } }
    .photos-template .photos-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      visibility: hidden;
      transition: 0.6s;
      opacity: 0; }
      .photos-template .photos-container img.reveal-image {
        visibility: visible;
        opacity: 1; }
      .photos-template .photos-container img:hover {
        transform: scale(1.02);
        box-shadow: 0px 18px 20px -10px rgba(0, 0, 0, 0.2); }
