@import url("https://fonts.googleapis.com/css?family=Nunito:400,600");
body {
  font-family: 'Nunito', sans-serif;
  margin: 0px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.font-regular {
  font-weight: 400; }

.font-semi-bold {
  font-weight: 600; }

.sidebar a {
  text-decoration: none;
  color: #2d3e4f; }

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    width: 230px;
    top: 32px;
    bottom: 32px;
    left: 0px;
    border-right: 2px solid #2d3e4f;
    text-align: right;
    padding-right: 24px;
    padding-left: 24px; }
    .sidebar .accordion {
      pointer-events: none; }
    .sidebar .navigation a {
      cursor: pointer; }
      .sidebar .navigation a:hover, .sidebar .navigation a.active {
        font-weight: 600; } }

@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0px;
    width: 100%;
    background: #ffffff;
    z-index: 1000;
    text-align: center;
    padding: 16px 0px; }
    .sidebar .accordion {
      cursor: pointer; }
    .sidebar .navigation {
      display: none;
      margin-bottom: -12px; }
      .sidebar .navigation p {
        margin: 12px 0px;
        cursor: pointer; }
        .sidebar .navigation p a:active {
          font-weight: 600; }
        .sidebar .navigation p#home {
          margin-top: 0px; } }

.content .title {
  margin-bottom: 12px; }

@media (min-width: 768px) {
  .content {
    margin-top: 32px;
    margin-right: 24px;
    margin-bottom: 32px;
    margin-left: 280px;
    padding-left: 24px; }
    .content .section {
      margin-bottom: 36px; } }

@media (max-width: 767px) {
  .content .title {
    text-align: center; }
  .content .section {
    margin-bottom: 24px; } }

.home-template .title {
  margin-top: 35px; }

.home-template .hero-image, .home-template .mobile-hero-image {
  padding: 2px; }

@media (min-width: 768px) {
  .home-template .hero-image, .home-template .tile {
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-bottom: 36px; }
    .home-template .hero-image .photo, .home-template .tile .photo {
      animation: fadeInLoad 1.4s; }
  .home-template .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out; }
  .home-template .mobile-hero-image {
    display: none; } }

@media (max-width: 767px) {
  .home-template {
    margin-top: 71px; }
    .home-template .title {
      display: none; }
    .home-template .mobile-hero-image {
      height: 400px; }
      .home-template .mobile-hero-image img {
        height: 100%;
        object-fit: cover;
        object-position: 38% 50%;
        visibility: hidden;
        transition: 1.4s;
        opacity: 0; }
        .home-template .mobile-hero-image img.reveal-image {
          visibility: visible;
          opacity: 1; } }

@keyframes fadeInLoad {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.photos-template .photos-container .photos {
  padding: 0px 1px; }
  .photos-template .photos-container .photos .photo {
    padding: 0px 1px 2px 1px; }
    .photos-template .photos-container .photos .photo .photo-mask {
      height: 340px; }
      @media (max-width: 767px) {
        .photos-template .photos-container .photos .photo .photo-mask {
          height: 260px; } }
      .photos-template .photos-container .photos .photo .photo-mask img {
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        filter: grayscale(100%);
        visibility: hidden;
        transition: 1.4s;
        opacity: 0; }
        .photos-template .photos-container .photos .photo .photo-mask img:hover {
          filter: grayscale(0%); }
        .photos-template .photos-container .photos .photo .photo-mask img.reveal-image {
          visibility: visible;
          opacity: 1; }
      .photos-template .photos-container .photos .photo .photo-mask .title-hide {
        transition: .6s;
        opacity: 0;
        margin-top: -27px; }
        .photos-template .photos-container .photos .photo .photo-mask .title-hide.title-show {
          color: #ffffff;
          z-index: 1000;
          font-size: smaller;
          margin-top: -27px;
          display: block;
          opacity: 1; }
      .photos-template .photos-container .photos .photo .photo-mask .banner-hide {
        transition: .6s;
        opacity: 0;
        margin-top: -42px;
        height: 36px; }
        .photos-template .photos-container .photos .photo .photo-mask .banner-hide.banner-show {
          background: #2a2a2a;
          opacity: .5;
          margin-top: -42px;
          height: 36px; }

@media (max-width: 767px) {
  .photos-template {
    margin-top: -24px; }
    .photos-template .title {
      display: none; } }

.about-template a {
  text-decoration: none;
  color: #c52033; }
  .about-template a:hover {
    color: #c52033;
    font-weight: 600; }

@media (max-width: 767px) {
  .about-template {
    padding: 0px 20px; } }

@media (min-width: 768px) {
  .contact-template {
    position: relative;
    height: 460px; }
    .contact-template .clearfix img {
      cursor: pointer;
      margin-right: 6px;
      transition: .2s; }
      .contact-template .clearfix img:hover {
        transform: scale(1.2); }
    .contact-template .copyright {
      position: absolute;
      bottom: 0; } }

@media (max-width: 767px) {
  .contact-template .clearfix {
    text-align: center; }
  .contact-template .copyright {
    text-align: center;
    margin-top: 24px; } }
