.about-template {
    a {
        text-decoration: none;
        color: $credera-red;
        &:hover {
            color: $credera-red;
            font-weight: 600;
        }
    }
    // Mobile
    @media(max-width: 767px) {
        padding: 0px 20px;
    }
}
