.about-template {
    a {
        text-decoration: none;
        cursor: pointer;
        color: $credera-red;
        &:hover {
            color: $credera-red;
            font-weight: 700;
        }
    }
    .h5 {
        line-height: 18px;
        margin: 12px 0px;
    }
    // Mobile
    @media(max-width: 767px) {
        .text-content {
            padding: 0px 20px;
        }
    }
}
