.contact-template {
    // Larger than mobile
    @media(min-width: 768px) {
        position: relative;
        height: 460px;
        .clearfix {
            img {
                cursor: pointer;
                margin-right: 6px;
                transition: .2s;
                &:hover{ 
                    transform: scale(1.2); 
                }
            }
        }
        .copyright {
            position: absolute;
            bottom: 0; 
        }
    }
    // Mobile
    @media(max-width: 767px) {
        .clearfix {
            text-align: center;
            img {
                margin-right: 4px;
            }
        }
        .copyright {
            text-align: center;
            margin-top: 34px;
        }
    }
}
