.content {
    .title {
        background: $light-gray;
        padding-top: 14px;
        padding-bottom: 14px;
        margin-bottom: 22px;
        position: relative;
        left: -28px;
        padding-left: 28px;
        width: calc(100vw - 304px);
    }
    #photos {
        min-height: 500px;
    }
    // Larger than mobile
    @media(min-width: 768px) {
        margin-top: 12px;
        margin-right: 12px;
        margin-bottom: 26px;
        margin-left: 292px;
        padding-left: 24px;
    }
    // Mobile
    @media(max-width: 767px) {
        .title {
            text-align: center;
            padding-left: 0px;
            width: 100%;
            left: 0;
        }
        .section {
            margin-bottom: 24px;
        }
    }
    blockquote {
        border-left: .2rem solid #f0f1f4;
        margin-left: 0;
        padding: 6px 16px;
    }
}
