.contact-template {
    position: relative;
    height: 460px;
    .clearfix {
        img {
            cursor: pointer;
            margin-right: 6px;
            transition: .2s;
            &:hover{ 
                transform: scale(1.2); 
            }
        }
    }
    .copyright {
        position: absolute;
        bottom: 0; 
    }
}
