.footer {
    background: $dark-gray;
    p {
        color: $white;
    }

    // Small width screen (also the sm breakpoint for basscss)
    @media(max-width: 831px) {
        p {
            text-align: center;
        }
    }
}
