.home-template {
    .hero-image {
        padding: 2px;
    }
    // Larger than mobile
    @media(min-width: 768px) {
        .hero-image {
            height: 600px;
            img {
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }
    // Mobile
    @media(max-width: 767px) {
        .hero-image {

        }
    }
}
