.home-template {
    .title {
        margin-top: 35px;
    }
    .hero-image {
        padding: 2px;
    }
    // Larger than mobile
    @media(min-width: 768px) {
        .hero-image, .tile {
            height: 600px;
            position: relative;
            float: left;
            width: 100%;
            overflow: hidden;
            margin-bottom: 36px;
        }
        .photo {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transition: transform .5s ease-out;
        }
        .mobile-hero-image {
            display: none;
        }
    }
    // Mobile
    @media(max-width: 767px) {
        margin-top: 71px;
        .title {
            display: none;
        }
        .mobile-hero-image {
            height: 400px;
            img {
                height: 100%;
                object-fit: cover;
                object-position: 38% 50%;
            }
        }
    }
}
