.nav {
    background: $dark-gray;
    span, a {
        color: $white;
        text-decoration: none;
        border-radius: 4px;
        &.active {
            background-color: $gray;
        }
    }
    .nav-right {
        margin-top: -2px;
    }
}

// Small width screen (also the sm breakpoint for basscss)
@media(max-width: 831px) {
    .nav-left {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .nav-right {
        text-align: center;
        a {
            padding: 8px 16px;
        }
    }
}
