.nav {
    background: $dark-gray;
    a {
        color: $white;
        text-decoration: none;
    }
    .nav-left {
        margin-top: 4px;
    }
    .nav-right {
        a {
           border-radius: 4px;
           width: 50px;
           display: inline-block;
           text-align: center;
           &.active, &:hover {
               background-color: $gray;
           } 
        }
    }

    // Small width screen (also the sm breakpoint for basscss)
    @media(max-width: 831px) {
        .nav-left {
            font-size: larger;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 10px;
        }
        .nav-right {
            text-align: center;
            a {
                padding: 8px 16px;
            }
        }
    }
}
