.photos-template {
    .photos {
        .photo {
            cursor: pointer;
            img {
                visibility: hidden;
                -webkit-transition: .4s;
                &:hover {
                    -webkit-filter: brightness(60%);
                }
                &.reveal-image {
                    visibility: visible;
                }
            }
            .photo-title {
                color: $white;
                z-index: 1000;
                font-size: smaller;
                margin-top: -44px;
                display: block;
            }
        }
    }
}
