.sidebar {
    // Larger than mobile
    @media(min-width: 768px) {
        position: fixed;
        width: 230px; 
        top: 32px;
        bottom: 32px;
        left: 0px;
        border-right: 2px solid $dark-blue;
        text-align: right;
        padding-right: 24px;
        padding-left: 24px;
        a {
            cursor: pointer;
            &.label-home {
                margin-top: 24px;
            }
            &:hover, &.active {
                font-weight: 600;
            }
        }
    }
    // Mobile
    @media(max-width: 767px) {

    }
}
