.sidebar {
    a {
        text-decoration: none;
        color: $dark-blue;
    }
    // Larger than mobile
    @media(min-width: 768px) {
        position: fixed;
        width: 230px; 
        background: $light-gray;
        padding: 32px 0;
        height: 100%;
        text-align: right;
        padding-right: 24px;
        padding-left: 24px;
        .accordion {
            pointer-events: none;
        }
        .navigation {
            a {
                cursor: pointer;
                &:hover, &.active {
                    font-weight: 700;
                }
            }
        }
    }
    // Mobile
    @media(max-width: 767px) {
        position: fixed;
        top: 0px;
        width: 100%;
        background: $white;
        z-index: 1000;
        text-align: center;
        padding: 20px 0px;
        .accordion {
            cursor: pointer;
        }
        .navigation {
            display: none;
            margin-bottom: -20px;
            p {
                margin: 12px 0px;
                cursor: pointer;
                &#home {
                    margin-top: 0px;
                }
            }
        }
    }
}
