.sidebar {
    a {
        text-decoration: none;
        color: $dark-blue;
    }
    // Larger than mobile
    @media(min-width: 768px) {
        position: fixed;
        width: 230px; 
        top: 32px;
        bottom: 32px;
        left: 0px;
        border-right: 2px solid $dark-blue;
        text-align: right;
        padding-right: 24px;
        padding-left: 24px;
        .accordion {
            pointer-events: none;
        }
        .navigation {
            a {
                cursor: pointer;
                &:hover, &.active {
                    font-weight: 600;
                }
            }
        }
    }
    // Mobile
    @media(max-width: 767px) {
        position: fixed;
        top: 0px;
        width: 100%;
        background: $white;
        z-index: 1000;
        text-align: center;
        padding: 16px 0px;
        .accordion {
            cursor: pointer;
        }
        .navigation {
            display: none;
            margin-bottom: -12px;
            p {
                margin: 12px 0px;
                cursor: pointer;
                a {
                    &:active {
                        font-weight: 600;
                    }
                }
                &#home {
                    margin-top: 0px;
                }
            }
        }
    }
}
