<div ng-controller="HeaderController as vm" class="header-template hidden">
    <div class="desktop-header">
        <div class="logo">&nbsp;</div>
        <div class="navigation">
            <h2 class="font-light"><a ng-href="https://www.flickr.com/photos/lawrenciumchang" target="_blank" ng-click="vm.gaTrackClick('header', 'flickr')">FLICKR</a></h2>
            <h2 class="font-light"><a ng-href="https://www.linkedin.com/in/lawrence-chang-3799914b" target="_blank" ng-click="vm.gaTrackClick('header', 'linkedin')">LINKEDIN</a></h2>
            <h2 class="font-light"><a ng-href="mailto:lawrencium.chang@gmail.com" target="_top" ng-click="vm.gaTrackClick('header', 'email')">EMAIL</a></h2>
        </div>
    </div>
    <div class="mobile-menu">
        <div class="menu-bg"></div>
        <div class="menu-burger">☰</div>
        <div class="menu-items">
            <div><h2 class="font-light"><a ng-href="https://www.flickr.com/photos/lawrenciumchang" target="_blank" ng-click="vm.gaTrackClick('mobile menu', 'flickr')">FLICKR</a></h2></div>
            <div><h2 class="font-light"><a ng-href="https://www.linkedin.com/in/lawrence-chang-3799914b" target="_blank" ng-click="vm.gaTrackClick('mobile menu', 'linkedin')">LINKEDIN</a></h2></div>
            <div><h2 class="font-light"><a ng-href="mailto:lawrencium.chang@gmail.com" target="_top" ng-click="vm.gaTrackClick('mobile menu', 'email')">EMAIL</a></h2></div>
        </div>
    </div>

    <div class="hover-btn-container hide-hover-btn">
        <div class="scroll-top-btn hover-btn" ng-click="vm.scrollToTop(); vm.gaTrackClick('hover buttons', 'scroll to top')"></div>
        <div class="contact-btn hover-btn"><a ng-href="mailto:lawrencium.chang@gmail.com" target="_top" ng-click="vm.gaTrackClick('hover buttons', 'email')"></a></div>
    </div>
</div>
