$almost-black: #171717;
$dark-gray: #3B3B3B;
$gray: #B0B1B1;
$almost-white: #FCFDFD;

.almost-black {
    color: $almost-black;
}

.dark-gray {
    color: $dark-gray;
}

.gray {
    color: $gray;
}

.almost-white {
    color: $almost-white;
}
