$dark-gray: #5C5C5C;
$light-gray: #F8F9FA;
$almost-white: #FCFDFD;
$blue: #2473A6;

.dark-gray {
    color: $dark-gray;
}

.light-gray {
    color: $light-gray;
}

.almost-white {
    color: $almost-white;
}

.blue {
    color: $blue;
}
