$almost-black: #171717;
$dark-gray: #2E2E2E;
$gray: #b0b1b1;
$almost-white: #FCFDFD;

.almost-black {
    color: $almost-black;
}

.dark-gray {
    color: $dark-gray;
}

.gray {
    color: #gray;
}

.almost-white {
    color: $almost-white;
}
