a {
    color: $blue-primary;
    font-weight: 700;
    text-decoration: none;
    transition: $hover-transition;

    &:hover {
        color: $blue-hover;
        cursor: pointer;
    }
}

h1, h2, h3, h4, h5, h6, p, a {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;      
}
