@import url('https://use.typekit.net/bpp7urt.css');

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;
}

.space-30 {
    letter-spacing: 3.0px;
}

.space-25 {
    letter-spacing: 2.5px;
}
.space-20 {
    letter-spacing: 2.0px;
}
.space-15 {
    letter-spacing: 1.5px;
}
.space-10 {
    letter-spacing: 1.0px;
}
.space-05 {
    letter-spacing: 0.5px;
}
