<div ng-controller="PhotosController as vm" class="photos-template">
    <div class="filter-row">
        <h2 id="animals-filter" class="font-light blue filter" ng-click="vm.applyFilter('animals')">ANIMALS</h2>
        <h2 id="humans-filter" class="font-light blue filter" ng-click="vm.applyFilter('humans')">HUMANS</h2>
        <h2 id="cities-filter" class="font-light blue filter" ng-click="vm.applyFilter('cities')">CITIES</h2>
        <h2 id="landscapes-filter" class="font-light blue filter" ng-click="vm.applyFilter('landscapes')">LANDSCAPES</h2>
        <h2 id="abstract-filter" class="font-light blue filter" ng-click="vm.applyFilter('abstract')">ABSTRACT</h2>
        <h2 id="products-filter" class="font-light blue filter" ng-click="vm.applyFilter('products')">PRODUCTS</h2>
    </div>
    <div class="photos-container clearfix">
        <div class="photo center lg-col lg-col-6" ng-repeat="photo in vm.photos | orderBy : '-date' | filter: vm.filterTerm">
            <img img-preload ng-src="{{photo.src}}" ng-click="vm.openGallery($index)"/>
        </div>
    </div>

    <!-- PhotoSwipe -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div> 
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
</div>
