h1, h2, h3, h4, p, a {
  margin: 0;
}

h1 {
  color: $almost-black;
  font-family: Hibana;
  font-size: 48px;
  font-weight: 500;
  line-height: 68px;
}

h2 {
  color: $almost-black;
  font-family: Hibana;
  font-size: 36px;
  font-weight: 500;
}

h3 {
  color: $almost-black;
  font-family: Hibana;
  font-size: 32px;
  font-weight: 500;
  line-height: 60px;
}

h4 {
  color: $almost-black;
  font-family: Hibana;
  font-size: 24px;
  font-weight: 500;
}

p, li {
  color: $gray-dark;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

ul {
  padding-left: 24px;
}

a {
  color: $blue-primary;
  font-weight: 700;
  transition: $hover-transition;

  &:hover {
    color: $blue-hover;
    cursor: pointer;
  }
}

.btn-primary {
  background-color: $blue-primary;
  color: $almost-white;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 24px;
  transition: $hover-transition;
  width: fit-content;

  &:hover {
    background-color: $blue-hover;
    cursor: pointer;
  }
}
