h1, h2, h3, h4, h5, p, a {
  margin: 0;
}

h1 {
  color: $almost-black;
  font-family: 'Questrial', sans-serif;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 60px;
}

h2 {
  color: $almost-black;
  font-family: 'Questrial', sans-serif;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 2px;
}

h3 {
  color: $almost-black;
  font-family: 'Questrial', sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 52px;
}

h4 {
  color: $almost-black;
  font-family: 'Questrial', sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
}

h5 {
  color: $almost-black;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 44px;
}

p, label, li {
  color: $gray-dark;
  font-size: 20px;
  font-weight: 500;
}

p, li {
  line-height: 40px;
}

label {
  line-height: 32px;
}

ul {
  padding-left: 24px;
}

a {
  color: $blue-primary;
  font-weight: 700;
  transition: $hover-transition;

  &:hover {
    color: $blue-hover;
    cursor: pointer;
  }
}

ul {
  list-style: circle;

  li {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.btn-primary {
  background-color: $blue-primary;
  color: $almost-white;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 24px;
  transition: $hover-transition;
  width: fit-content;

  &:hover {
    background-color: $blue-hover;
    cursor: pointer;
  }
}
