@font-face {
  font-display: swap;
  font-family: Hibana;
  font-style: normal;
  src: url('/assets/fonts/Hibana-Submedium.otf') format('opentype'),
       url('/assets/fonts/Hibana-Submedium.woff') format('woff'),
       url('/assets/fonts/Hibana-Submedium.woff2') format('woff2');
}
