body {
  margin: 0;
}

@mixin page-layout {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 24px;
}

// Text highlight colors
::selection {
  background: $blue-underline; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: $blue-underline; /* Gecko Browsers */
}

// Hide scrollbar
::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}
