body {
  margin: 0;
}

@mixin page-layout {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 24px;
}

// Text highlight colors
::selection { /* WebKit/Blink Browsers */
  @include theme() {
    background: theme-get('highlight-color');
  }
}
::-moz-selection { /* Gecko Browsers */
  @include theme() {
    background: theme-get('highlight-color');
  }
}

// Hide scrollbar
::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}
