$themes: (
  darkTheme: (
    'default-theme-inverse': $white,
    'h1-color': $gray-04,
    'h2-color': $white,
    'h3-color': $white,
    'p-regular-color': $gray-06,
    'p-small-color': $gray-06,
    'label-color': $gray-04,
    'link-color': $white,
    'header-copied-text-color': $white,
    'theme-toggle-bg-color': $gray-02,
    'footer-bg-color': $gray-02,
    'highlight-color': $gray-03,
    'project-stat-label-color': $gray-04,
    'project-stat-description-color': $white,
    'image-border-color': $gray-01,
    'prev-next-label-color': $gray-04,
    'prev-next-title-color': $white,
    'badge-background-color': $white,
    'badge-font-color': $gray-01
  ),
  lightTheme: (
    'default-theme-inverse': $gray-01,
    'h1-color': $gray-06,
    'h2-color': $gray-01,
    'h3-color': $gray-01,
    'p-regular-color': $gray-04,
    'p-small-color': $gray-04,
    'label-color': $gray-06,
    'link-color': $gray-01,
    'header-copied-text-color': $gray-01,
    'theme-toggle-bg-color': $gray-01,
    'footer-bg-color': $gray-01,
    'highlight-color': $blue-outline,
    'project-stat-label-color': $gray-06,
    'project-stat-description-color': $gray-01,
    'image-border-color': $gray-06,
    'prev-next-label-color': $gray-06,
    'prev-next-title-color': $gray-01,
    'badge-background-color': $gray-02,
    'badge-font-color': $white
  )
);

@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function theme-get($key) {
  @return map-get($theme-map, $key);
}
