$themes: (
  darkTheme: (
    'h1-color': $gray-04,
    'h2-color': $white,
    'h3-color': $white,
    'p-regular-color': $gray-06,
    'p-small-color': $gray-06,
    'label-color': $gray-04,
    'link-color': $white,
    'border-color': $white,
    'header-copied-text-color': $white,
    'theme-toggle-bg-color': $gray-02,
    'footer-bg-color': $gray-02
  ),
  lightTheme: (
    'h1-color': $gray-06,
    'h2-color': $gray-01,
    'h3-color': $gray-01,
    'p-regular-color': $gray-04,
    'p-small-color': $gray-04,
    'label-color': $gray-06,
    'link-color': $gray-01,
    'border-color': $gray-01,
    'header-copied-text-color': $gray-01,
    'theme-toggle-bg-color': $gray-01,
    'footer-bg-color': $gray-01
  )
);

@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function theme-get($key) {
  @return map-get($theme-map, $key);
}
