h1, h2, h3, p, a, label {
  margin: 0;
  transition: $ease-in;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 24px;
  transition: $ease-in;
  @include theme() {
    color: theme-get('h1-color');
  }
}

h2 {
  font-size: 36px;
  font-weight: 900;
  transition: $ease-in;
  @include theme() {
    color: theme-get('h2-color');
  }
}

h3 {
  font-size: 32px;
  font-weight: 700;
  transition: $ease-in;
  @include theme() {
    color: theme-get('h3-color');
  }  
}

p {
  font-weight: 700;
  transition: $ease-in;
  &.regular {
    font-size: 24px;
    line-height: 40px;
    @include theme() {
      color: theme-get('p-regular-color');
    }  
  }
  &.small {
    font-size: 20px;
    @include theme() {
      color: theme-get('p-small-color');
    }  
  }
}

label {
  font-size: 20px;
  font-weight: 700;
  transition: $ease-in;
  @include theme() {
    color: theme-get('label-color');
  }  
}

a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  transition: $ease-in;
  &.large {
    font-size: 20px;
  }
  @include theme() {
    color: theme-get('link-color');
  }  
}
