// Colors
$almost-black: #171717;
$header-gray: #3B3B3B;
$gray-medium: #8D8D8D;
$gray-light: #9B9FA2;
$gray-border: #D8D8D8;
$almost-white: #FCFDFD;

$blue-primary: #69AAF3;
$blue-hover: #408DE4;
$blue-underline: #C2E6FF;

// Layout
$max-width: 1200px;

// Animation
$hover-transition: 0.3s ease-in;
$in-out-transition: all 1s ease-in-out;

// Breakpoints
$mobile-breakpoint: 768px; // max-width
$desktop-breakpoint: 1200px; // max-width
