<div ng-controller="SidebarController as vm" class="sidebar-template">
    <div class="desktop-sidebar">
        <div class="header" ng-click="vm.toTop()">
            <h1 class="name m0 font-black space-25">LAWRENCE CHANG</h1>
            <h6 class="m0 mt1 font-regular space-05">DESIGNER | DEVELOPER | PHOTOGRAPHER</h6>
        </div>
        <div id="side-nav" class="navigation">
            <p><a href="#photos" class="h5 my2 font-light space-05" data-scrollspy-listen="photos" >PHOTOS</a></p>
            <!-- <p><a href="#the-image-project" class="h5 my2 font-light space-05" data-scrollspy-listen="the-image-project" >THE IMAGE PROJECT</a></p> -->
            <p><a href="#about" class="h5 my2 font-light space-05" data-scrollspy-listen="about">ABOUT</a></p>
            <p><a href="#contact" class="h5 my2 font-light space-05" data-scrollspy-listen="contact">CONTACT</a></p>
        </div>
    </div>
    <div class="mobile-header">
        <div class="accordion">
            <h2 class="m0 mt1 h1 font-black space-25">LAWRENCE CHANG</h2>
            <h6 class="m0 mt1 font-regular space-05">DESIGNER | DEVELOPER | PHOTOGRAPHER</h6>
        </div>
        <div id="side-nav" class="navigation" ng-click="vm.hideMobileMenu()">
            <p><a href="#photos" class="h5 my2 font-light" data-scrollspy-listen="photos" >PHOTOS</a></p>
            <!-- <p><a href="#the-image-project" class="h5 my2 font-light" data-scrollspy-listen="the-image-project" >THE IMAGE PROJECT</a></p> -->
            <p><a href="#about" class="h5 my2 font-light" data-scrollspy-listen="about">ABOUT</a></p>
            <p><a href="#contact" class="h5 my2 font-light" data-scrollspy-listen="contact">CONTACT</a></p>
        </div>
    </div>
</div>
