.not-found-template {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    width: 96vw;
    .container {
        color: $almost-black;
        h1 {
            font-size: 100px;
            @media (max-width: 768px) {
                line-height: 76px;
            }
        }
        a {
            text-decoration: none;
            margin-top: 2px;
            display: block;
            &:hover {
                transition: 0.5s;
                color: $almost-black;
            }
        }
        .message {
            margin-top: -18px;
            margin-left: 6px;
            @media (max-width: 768px) {
                margin-top: 26px;
            }
        }
    }
}
