.not-found-template {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .container {
        color: $almost-black;
        h1 {
            font-size: 160px;
        }
        a {
            text-decoration: none;
        }
        .message {
            margin-top: -14px;
        }
    }
}
