body {
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
    color: $dark-gray;
    margin: 0px;
    background-color: $almost-white;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

// Hide scrollbar
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.hover-btn-container {
    visibility: visible;
    position: fixed;
    &.hover-btn-container-desktop {
        z-index: 1000;
        bottom: 50px;
        right: 50px;
        @media (max-width: 768px) {
            display: none;
        }
    }
}

.hover-btn {
    width: 50px;
    height: 50px;   
    border-radius: 100%;
    box-shadow: 0px 8px 20px -2px rgba(0,0,0,.25);
    cursor: pointer;
    transition: 0.6s;
    &:hover {
        transform: scale(1.1);
    }
    &.scroll-top-btn {
        margin-bottom: 12px;
        background: $blue;
        background-image: url('../assets/icons/arrow-up.svg');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 18px;
    }
    &.contact-btn {
        background: $dark-gray;
        background-image: url('../assets/icons/mail.svg');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 11px;
        background-size: 24px;
        a {
            display: block;
            height: 100%;
        }
    }
}