.contact-template {
    height: 400px;
    position: relative;
    .text-content {
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        a {
            letter-spacing: 1.2px;
            color: $blue;
            margin-left: 10px;
        }
        img {
            position: relative;
            left: -8px;
            top: 6px;
            height: 24px;
        }
    }
}
