.footer-template {
    height: 100px;
    .copyright-container {
        display: flex;
        height: 80px;
        margin-bottom: 100px;
        align-items: center;
        justify-content: center;
        .copyright {
            width: 96vw;
            margin: 0 0 0 10px;
            @media (max-width: 1024px) {
                width: 90vw;
            }
            line-height: 24px;
        }
    }
}
