.footer-template {
    margin-top: 84px;
    background-color: $almost-black;

    .footer-container {
        width: 96vw;
        max-height: 600px;
        height: 60vh;
        margin: 0 auto;
        padding-top: 120px;
        position: relative;
        
        h2 {
            font-size: 36px;
            margin: 0 0 4px 0;
            width: 75vw;
        }

        .contact-container {
            margin-top: 48px;
            display: flex;

            .copied-text {
                width: 40vw;
                margin-left: 20px;
                align-items: center;
                display: flex;
                color: $almost-white;
                font-size: 12px;
                opacity: 0;
                transition: all 1s ease-in-out;
                &.reveal {
                    opacity: 1;
                }
            }
        }

        .copyright {
            position: absolute;
            bottom: 74px;
            color: $gray-light;
            font-size: 14px;
            line-height: 20px;
        }

        @media (max-width: 1024px) {
            width: 90vw;
        }

        @media (max-width: $mobile-breakpoint) {
            height: 80vh;
            min-height: 700px;
        }
    }
}

