.header-template {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;

    .navigation {
        h2 {
            display: inline-block;
            font-size: 18px;
            padding-left: 48px;
            letter-spacing: 2px;
        }
    }

    .desktop-menu {
        display: contents;
        @media (max-width: 768px) {
            display: none;
        }
    }

    .mobile-menu {
        display: none;
        @media (max-width: 768px) {
            display: block;
        }
    }

    ////////////

    .menu {
        z-index: 100;
        position: fixed;
        width: 46px;
        height: 46px;
        font-size: 26px;
        text-align: center;
        border-radius: 100%;
        right: 25px;
        top: 19px;
        &.fs {
            top: 28px;
        }
    }
    .menu-bg {
        @extend .menu;
        background: $dark-gray;
        pointer-events: none;
        transition: 0.3s; 
        right: 48px;
        top: 49px;
        transform: translate3d(50%,-50%,0); 
        transform-origin: center center;
        box-shadow: 0px 8px 20px -2px rgba(0,0,0,.25);
        &.fs{
            transform:t ranslate3d(50%,-50%,0);  
            width: 1000vw; 
            height: 1000vw;
        }
    }
    .menu-burger {
        @extend .menu;
        color: $almost-white;
        padding-top: 11px;
        -webkit-user-select: none;
        cursor: pointer;
        transition: 0.4s;
        transform-origin: center;
        &.fs {
            transform: rotate(-180deg) translateY(10px);
        }
    }
    .menu-items{
        z-index: 100;
        position: fixed;
        left: 0;
        right: 0;
        font-weight: bold;
        font-size: 40px;
        letter-spacing: 10px;
        color: $almost-white;
        text-align: center;
        opacity: 0;
        transition: 0.4s;
        margin-top: 100px;
        transform: translateY(-200%);
        pointer-events:none;
        div {
            transition: 1s;
            opacity: 0;
            margin-top: 0px;
        }
        &.fs {
            transform: translateY(0);
            pointer-events: auto;
            opacity: 1;
            div{
            opacity: 1;
            margin-top: 75px;
            }
        }  
        a {
            font-size: 24px;
            letter-spacing: 6px;
            color: $almost-white;
            display: block;
        } 
    }

}
