.landing-template {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    .landing-text {
        width: 96vw;
        p {
            margin: 0;
        }
        @media (max-width: 1024px) {
            width: 90vw;
        }
        .first {
            font-size: 40px;
            margin-bottom: 4px;
            line-height: 43px;
        }
        .second {
            font-size: 36px;
            margin: 0 0 36px 0;
            padding-right: 10px;
            line-height: 43px;
        }
    }
    
    .cta {
        margin-bottom: 20px;
    }
}
