.landing-template {
    @include page-layout;
    display: flex;
    align-items: center;
    height: 100vh;
    
    .landing-text {
        p {
            margin: 0;
        }
        
        .first {
            font-size: 28px;
            margin-bottom: 4px;
        }

        .second {
            font-size: 28px;
            margin: 0 0 28px 0;
        }
    }
}
