.photos-template {
    min-height: 100vh;
    width: 96vw;
    margin: 0 auto;

    .justified-gallery {
        .entry-visible {
            img {
                cursor: pointer;
                // opacity: 1;
                transition: transform 0.5s ease-in-out;
                -moz-transition: transform 0.5s ease-in-out;
                -webkit-transition: transform 0.5s ease-in-out;

                &:hover {
                    transform: scale(1.02);
                    transition: transform .5s ease-in-out;
                    -moz-transition: transform .5s ease-in-out;
                    -webkit-transition: transform .5s ease-in-out;
                }
            }
        }
    }
}
